.votingResults {
  visibility: hidden;
  width: 50%;
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  .votingResult {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;

    .percentageDiagram {
      transition: height 3s;
      background-color: red;
      height: 0;
      width: 50px;
      border: 1px solid black;
    }
  }

}
